.heroBase {
  background-image: linear-gradient(to left, #247dbe, #71bcf1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 700px;
  flex-wrap: wrap;
}
.mt45 {
  margin-top: 35px;
}

@keyframes door-anim {
  0% {
    height: 81%;
    margin-left: 54%;
    margin-top: 7%;
  }
  50% {
    height: 95%;
    margin-left: 4%;
    margin-top: 7%;

  }
  100% {
    height: 81%;
    margin-left: 54%;
    margin-top: 7%;

  }
}

@keyframes door2-anim {
  0% {
    height: 95%;
    margin-left: 5%;
    margin-top: 0;
  }
  50% {
    height: 82%;
    margin-left: 47%;
    margin-top: 6%;

  }
  100% {
    height: 95%;
    margin-left: 5%;
    margin-top: 0;
  }
}

.heroSpaceBgLeft {
  display: flex;
  background-image: url('../public/images/home/hero1_wardrobe/base.png');
  width: 45% ;
  min-width:350px ;
  background-clip: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7vh;
  aspect-ratio: 1 / 1;
  flex-direction: column;
}

.heroImageBgRight {
  z-index: 20;
  display: flex;
  width: 50%;
  min-width: 350px ;
  margin-top: 50px;
  flex-direction: column;
}



.heroSpaceImageDoor {
  animation: door-anim 6s infinite;
  animation-timing-function: ease-in-out;
  z-index: 10;
  width: 45%;
  /* border: 2px solid red; */
  margin-top: -100%;


}
.heroSpaceImageDoor2 {
  animation: door2-anim 6s infinite;
  animation-timing-function: ease-in-out;
  z-index: 20;
  width: 52%;
  /* border: 2px solid rgb(255, 247, 0); */
  margin-bottom: -95%;

}


.heroText {
  font-size: 150px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.95;
  background: -webkit-linear-gradient(#79c5fc, #91c9f1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heroSubText {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding-top: 2rem;
}

.heroTextMobile {
  display: none;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.95;
  background: -webkit-linear-gradient(#79c5fc, #91c9f1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  
}

.btnExplore {
  padding: 5px 30px !important;
  font-size: 30px !important;
  font-weight: 500;
  border-radius: 50px !important;
  color: #1faaa0 !important;
}

.btnExplore:hover .btnImg {
  width: 0;
  margin-left: 0;
  transition: all 1s;
}

.heroBase2 {
  background-image: linear-gradient(to left, #f1f1f1, #ffffff);
  text-align: right;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: white;
  padding: 20px;
  min-width:350px;
  width: 100%;
  
}

.contentContainer {
  margin-right: 10%;
  width:90%
  
}

.contentTitle {
  color: #1faaa0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 35px !important;
  padding-bottom: 5px;
}

.content {
  color: #546866;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 800px;
}

/* Breakpoints */

@media (max-width: 1615px) {
  .heroText {
    font-size: 130px;
    transition: all 0.4s;
  }

  .content {
    font-size: 20px;
  }


  .btnExplore {
    margin-top: 12px;
  }

  .heroSpaceImage {
    height: 700px;
  }


}

@media (max-width: 1215px) {
  .heroText {
    font-size: 90px;
    transition: all 0.4s;
  }

  .content {
    font-size: 17.5px;
  }


  .contentTitle {
    font-size: 23px !important;
  }

  .btnExplore {
    margin-top: -5px;
    font-size: 23px !important;
  }

  .btnImg {
    display: none;
  }

  .heroSpaceImage {
    height: 500px;
  }


}

@media (max-width: 875px) {





  .heroText {
    font-size: 6vw;
  }
}

@media (max-width: 720px) {
  .heroText {
    /* display: none; */
    /* border: 2px solid red; */
    height: 0px;
  }

  .heroTextMobile {
    display: block;


  }

  .heroImageBgLeft {
    top: 90px;
    left: 30px;

  }



}

/* Phones */
@media (max-width: 550px) {
  .heroImageBgLeft {
    top: 100px;
  }


}

@media (max-width: 502px) {
  .heroImageBgLeft {
    top: 95px;
    left: 20px;

  }



  .heroSpaceImage {
    height: 300px;
  }

 

  .heroTextMobile {
    font-size: 30px;
  }

  .contentTitle {
    font-size: 20px !important;
    margin-bottom: 3px;
  }

  .content {
    font-size: 16px !important;
    margin: 0;
    padding-bottom: 10px;
  }

  .btnExplore {
    font-size: 16px !important;
  }

  .mt45 {
    margin: 0;
    margin-top: 30px;
  }
}



@media (max-width: 370px) {
  .heroImageBgLeft {
    top: 120px;

  }

}
.expbutt{
  width: 250px;
  border-radius: 30px ;
  font-size: 26px;
  font-weight: 600;
  color: #1faaa0;
  height: 60px;
  margin-top: 50px;
  transition: 2s;
  border: none;
  outline: none;

}
.expbuttimg { 
  transition: 2s;
}
.expbutt:hover { 
  width: 200px;
  transition: 2s;
}
.expbutt:hover > .expbuttimg { 
  width: 0px;
  transition: 2s;
}

