.meetBase {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 35px;
  background-color: #928181;
  
}

.meetLeft {
  width: 28%;
}

.meetHead {
  color: #a89797;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 1;
  font-size: 50px !important;

  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 28px;
}

.meetLeftImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url('../public/backgrounds/dirtB.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.meetLeftImages {
  width: 100%;
  height: 650px;
  text-align: center;
  display: block;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 40px;
  padding: 0 30px;
  border-right: 2px solid #a89797b9;
}


.mt4ish {
  margin-top: 20px;
}

.meetRight {
  width: 72%;
  background-color: #928181;
}

.meetRightImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.meetRightImages > div {
  text-align: center;
  position: relative;
}

.imgContainer {
  width: 50%;
  float: left;
  border-radius: 10px;
  height: 100%;

}
.img{
  border-radius: 5px 0px 0px 5px;
}


.meetImgCard {
  position: absolute;
  top: 0;
  right: 0;

  float: right;
  height: 100%;
  width: 50%;

  border-radius: 5px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0), rgba(0, 0, 0, 0.041));

  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}

.personName {
  font-size: 130%;
  color: #534747e3;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.personDesc {
  font-size: 19px;
  color: #615d5d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  padding-top: 2px;
  padding-left: 15px;
}

.textContainer {
  width: 400px;
  text-align: left;
  padding: 20px;
}

.addressTitle {
  font-size: 1.1vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;

  color: #c0a899;
}

.addressText {
  padding-top: 8px;
  font-size: 1.1vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #cfb8b8;
}

.footerPhone {
  color: #ffffff;
  font-size: 18px;
  padding: 7px 22px !important;
  background: linear-gradient(145deg, #beaeae, #c2a6a6);
  box-shadow: 5px 5px 5px #7c6e6ea4;
}


/* Breakpoints */
@media (max-width: 1730px) {
  .addressText {
    font-size: 19px;
  }

  .addressTitle {
    font-size: 19px;
  }
}


@media (max-width: 1590px) {
  .flexContainer {
    flex-direction: column;
  }

  .meetRight {
    width: 100%;
    margin-top: 60px;
  }


  .meetLeftImages {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);
    height: 400px;
    padding: 0 40px;
  }

  .meetLeft {
    width: 100%;
  }

  .addressText {
    font-size: 20px;
  }

  .addressTitle {
    padding-bottom: 5px;
    font-size: 20px;
  }
}

@media (max-width: 1300px) {
  .addressText {
    font-size: 19px;
  }

  .addressTitle {
    padding-bottom: 2px;
    font-size: 19px;
  }
}

@media (max-width: 1200px) {


  .addressText {
    font-size: 20px;
  }

  .addressTitle {
    padding-bottom: 10px;
    font-size: 20px;
  }
}

@media (max-width: 1050px) {
  .meetLeftImages {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    height: 1000px;
  }
}

@media (max-width: 875px) {
  .meetLeftImages {
    height: 120vw;
  }
}



@media (max-width: 575px) {
  .meetHead {
    font-size: 9vw !important;
  }

  #prabhu {
    object-position: 40% 0;
  }

  #sajeesh {
    object-position: 30% 0;
  }


  .textContainer {
    width: 300px;
    text-align: left;
    padding: 20px;
  }
}
